.footer {
  padding: 100px;
  background-color: #2e2f42;
}
.footer-logo {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.accent-text {
  color: #4d5ae5;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}
