.portfolio {
  padding: 120px 0px;
  background-color: #ffffff;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-list-item {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
.portfolio-image {
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  color: #434455;
}
