.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list-item {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
.team-list-image {
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}
.team-list-text {
  text-align: center;
  color: #434455;
}
